*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f7;
}
main{
    padding: 0 100px;
}
#blue_sect{
    background-color: #457fca;
    padding: 15px 100px 150px;
}
#btn-container{
    height: 117px;
    padding-top: 20px;
    width: 100%;;
}
.butn{
    padding: 12px 25px 10px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    transition: 0.2s
}
.butn:hover{
    text-decoration: none;
    color: #fff;
    transform: translate(1px, 1px);
}

a.butn:first-child{
    background-color: #e91e63;
    box-shadow: 5px 5px 5px 0 #e91e637a;
}
a.butn:nth-child(2){
    background-color: #c69500;
    box-shadow: 5px 5px 5px 0 #c695007a;
}
a.butn:last-child{
    background-color: orangered;
    box-shadow: 5px 5px 5px 0 #ff45007a
}
#info{
    margin-top: -120px;
}
#bar-chart, #area-chart, #donut-chart{
    border-radius: 3px;
    padding: 18px;
    height: 236px;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
#area-chart{
    margin: 0 15px 0 15px;
}
.title{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700
}
.number{
    font-size: 16px;
    color: #4c87c9;
    font-weight: 700;
}
.dot{
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    display: inline-block;
}
.dot-green{
    background-color: #4caf50;
}
.dot-red{
    background-color: #e91e63;
}
.dot-orange{
    background-color: #ff9800;
}
#area-chart .number{
    margin-bottom: 4.5em;
}
#donut-chart .number{
    margin-bottom: 2em;
}
.ad-fb{
    margin-bottom: 3.5rem;
}
.st-rprt{
    margin-left: 7px;
    display: inline-block;
}
#revenue{
    margin-top: 20px;
}
.report{
    width: 33.333%;
    margin-right: 15px;
    height: 434px;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}
.line-chart{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

.dp{
    display: block;
    margin: -43px auto 0;
}
.userprofile-circle{
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-width: 4px;
    border-style: solid;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto 0.5em;
}
.userprofile-status{
    color: #616161;
    letter-spacing: 2px;
    font-size: 12px;
}
.userprofile-value{
    margin-top: 0.5em;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.2px;
}
.crcle-order{
    border-color: #ff4500;
}

.crcle-profits{
    border-color: #689f38;
}
.crcle-revenue{
    border-color: #389f99;
}
.crcle-expenses{
    border-color: #ee1044;
}
.crcle-ship {
    border-color: #ff8f00;
}
/*login section*/
.login-sect{
    background-color: #ffffff;
    height: 500px;
    border-radius: 5px;
    border-bottom: 5px solid #457fca;
    border-top: 5px solid #457fca;
}
button, .btn{
    width: 40%;
    float: right;
}
